{% extends "base.html" %}
{% block body %}

{% block title %}Heartbeat of America{% endblock %}

{% block page_content %}


<div class="page-header">
    <h1>Heartbeat of America</h1>
</div>

{% endblock %}



<script src="//d3js.org/d3.v3.min.js"></script>
<script src="static/css/rainbowworm.css"></script>

<br>
<br>
<br>



<h4>
    <a href="{{ url_for('visualizer', sector='technology') }}">Technology</a>
</h4>

<h4>
    <a href="{{ url_for('visualizer', sector='transportation') }}">Transportation</a>
</h4>

<h4>
    <a href="{{ url_for('visualizer', sector='finance') }}">Finance</a>
</h4>

<h4>
    <a href="{{ url_for('visualizer', sector='consumerservices') }}">Consumer Services</a>
</h4>

<h4>
    <a href="{{ url_for('visualizer', sector='healthcare') }}">Health Care</a>
</h4>

<h4>
    <a href="{{ url_for('visualizer', sector='energy') }}">Energy</a>
</h4>

{% endblock %}


